<footer class="flex w-full py-16 px-24 bg-app-primary border-2 border-solid border-white text-white">
  <div class="flex w-full gap-[105px]">
    <div class="flex-shrink-0">
      <img class="w-[365px]" alt="Frame" src="/frame-101.svg" />
    </div>

    <div class="flex flex-col gap-[30px] pt-5">
      <a *ngFor="let item of linkItems" 
         [href]="item.href"
         class="font-normal text-2xl hover:underline transition-all duration-300">
        {{ item.text }}
      </a>
    </div>

    <div class="flex flex-col gap-[30px] pt-5">
      <div *ngFor="let item of contactInfo" 
           [class]="'font-' + (item.isBold ? 'semibold' : 'normal') + ' text-2xl' + (item.isLink ? ' underline' : '')">
        <a *ngIf="item.isLink" 
           [href]="item.href"
           rel="noopener noreferrer"
           target="_blank"
           class="hover:opacity-80 transition-opacity">
          {{ item.text }}
        </a>
        <span *ngIf="!item.isLink">
          {{ item.text || item.title }}
        </span>
      </div>
    </div>
  </div>
</footer>